


ul{
    border: 1px solid #555;
    background-color: aqua;
    margin: 10px;
    
}
a{
    border: 1px solid #555;
    background-color: aqua;
    margin: 10px;
    padding-bottom: 2px;
    


}
p{
    font-family: Verdana,
    font: size 20px
    
}



h1{
    color: red;
    text-align: left;
}






h3{
    color: red;
}