*{
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
body{
    background-color:blue;
}
main{
    width: 80%;
    margin: 0 auto;
    box-shadow: 6px 6px 49px 3px rgba(0, 0, 0, 49);
    height:1000vh;
}
section.one{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
section.one ul{
    background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}
section.one ul li{
    width: 100%;
    padding: 10px 20px;
}


section.one .banner{
    flex: 3;
    /* width: 55%; */
}

section.one .banner img, .mimi-banner img{
    object-fit: cover; 
    object-position: center;
}

section.one .mimi-banner{
    width: 20%;
    display: flex;
    margin-right: 10px;
    flex-direction: column;
    gap: 20px;
}

section.categories{
    width: 100%;
    /*padding:15px 0;*/
    margin: 20px auto;
    background-color: rgb(141, 92, 92);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}



div.category{
    border-radius: 3%;
    text-align: center;
    background-color: azure;
    box-shadow: 6px 6px 49px 3px rgba(0, 0, 0, 0.081);
    height: 250px;
    margin: 10px 0;
}
img.category-img{
    border-radius: 3%;
}
p.category-text{
    margin-top: 10px;

}

section.listed-items .items{
    width: 100%;
    /*padding:15px 0;*/
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 10px;

}
div.listed{
    border-radius: 2%;
    text-align: center;
    background-color: azure;
    box-shadow: 6px 6px 49px 3px rgba(0, 0, 0, 0.081);
    height: 250px;
    margin: 10px 0;
    
}

img.listed-img{
    border-radius: 3%;
    justify-content: space-between;


}

p.listed-text{
    margin-top: 10px;
}


   section.appliances{
      width: 100%;
    /*padding:15px 0;*/
    margin: 20px auto;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 10px;

}

div.appliances{
     background-color: white;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 8px;
}
appliances.items-img{
    border-radius: 3%;
    justify-content: space-between;
}
p.appliances-text{
    margin-top: 10px;
}

